video {
 position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index:-1;
  /*to edit the opacity effect change the percentage below */
  filter:opacity(100%);
  transform: translateX(10%) translateY(40%);}