
<!DOCTYPE html>
<html>
<head>
  <title>Tushar's Portfolio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='static/css/typeffect.css'>
  <link rel='stylesheet' href='static/css/video.css'>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
  <link rel="icon" href="data:,">

</head>
<body>
    <div>
      <a class="btn btn-outline-warning btn-lg" href="/" role="button">Dashboard</a>
      <a class="btn btn-outline-warning btn-lg" href="/Projects" role="button">Projects</a>
      <a class="btn btn-outline-warning btn-lg" href="/Profiles" role="button">Profiles</a>
      <a class="btn btn-outline-warning btn-lg" href="/Resume" role="button">Resume</a>
      <a class="btn btn-outline-warning btn-lg" href="/Contact" role="button">Contact</a>
      <video poster="static/h.png" loop muted autoplay>
        <source src="static/h.mp4" type="video/mp4">
         
        </video>
      <div class="container">
        <img src="static/prof.png" style="height:250px; border-radius: 30%; border: 10px solid #FEDE00;" alt="Profile Photo of Tushar">
        <p>I'm <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
      </div>
    </div>
    <div>
      
    </div>
  <script src='static/js/autotype.js'></script> 
</body>
</html>